<ion-content>
    <div class="printer-type">
        <div class="details" *ngIf="init" >
            <div class="detail">
                To connect to the Bluetooth printer press on the Bluetooth button on the printer for about 10 seconds.
            </div>
            <div class="info">
                If the printer does not apppear in the app, please repeat the process.(Note: most printers have a LED that lights up when Bluetooth is on)
            </div>
            <div class="help">
              Need Help?
          </div>
           
        </div>
        <div class="details" *ngIf="searching">
          <div class="info">
           Searching for printers ....<br/>
           Please hold tight? <br/>
          </div>
        </div>
        <div class="details" *ngIf="!searching && !listToggle && !init">
          <div class="info">
           No printers were found .<br/>
           Please try again <br/>
          </div>
        </div>
        <div  *ngIf="listToggle">
          <ion-row>
            <ion-col>
              <ion-radio-group allow-empty-selection="true" name="radio-group" (ionChange)="radioGroupChange($event)" #radioGroup>
                <ion-item *ngFor="let i of pairedList;let j=index" >
                  <ion-label>{{i.name}}</ion-label>
                  <ion-radio  value="{{i.address}}" ></ion-radio>
                  </ion-item>
                </ion-radio-group>
            </ion-col>
          </ion-row>
        </div>  
           
            {{MAC}}
     
            
    </div>
    <div class="footer-btn">
      <ion-button (click)="listPairedDevices()">
                  <span>{{btn_txt}}</span>
                  
      </ion-button>
    </div>
    <div class="footer-btn" *ngIf="MAC!=''">
      <ion-button  (click)="print()">
                  <span>print</span>
                  
      </ion-button>
    </div>
</ion-content>