<ion-content>
  <div class="printer-type" *ngIf="getAllPrinters.length > 0">
      <div *ngFor="let i of getAllPrinters;">
        <ion-row>
          <ion-col>
              <ion-item>
                <ion-label>{{i.printerAddress}}<span class="type"><br/>{{i.printerType}}</span></ion-label>
                </ion-item>
          </ion-col>
        </ion-row>
          <ion-row>
            <ion-col>
          <div>
            {{i.counterReciept}}
            <ion-item>
              <ion-label >FOH Docket / Client Receipt</ion-label>
               <ion-toggle #toggleComponent2 [value]="i.counterReciept" [(ngModel)]="i.counterReciept"  (ionChange)="toggleCounter($event,i)"></ion-toggle>
             </ion-item>

             <ion-item>
              {{i.kitchenReciept}}
              <ion-label>Kitchen Essentials</ion-label>
              <ion-toggle #toggleComponent1 [value]="i.kitchenReciept" [(ngModel)]="i.kitchenReciept" (ionChange)="toggleKitchen($event,i)"></ion-toggle>
              </ion-item>
             
          </div> 
          </ion-col>
        </ion-row>
      </div> 
      <div class="footer-btn">
        <ion-button (click)="redirectTo('/my-orders')">
                    <span>Done</span>
                    
        </ion-button>
        </div>
  </div>
 
  
</ion-content>