<ion-content>
  <div class="printer-type">
      <div *ngFor="let i of getAllPrinters;">
        <ion-row>
          <ion-col>
              <ion-item>
                <ion-label>{{i.printerAddress}}<span class="type"><br/>{{i.printerType}}</span></ion-label>
                </ion-item>
          </ion-col>
        </ion-row>
          <ion-row>
            <ion-col>
          <div>

            <ion-item>
              <ion-label >FOH Docket / Client Receipt</ion-label>
               <ion-toggle #toggleComponent2 [value]="i.counterReciept=='0'?false:true" [(ngModel)]="i.counterReciept"  (ionChange)="toggleBluetoothCounter($event)"></ion-toggle>
             </ion-item>

             <ion-item>
              <ion-label>Kitchen Essentials</ion-label>
              <ion-toggle #toggleComponent1 [value]="i.kitchenReciept=='0'?false:true" [(ngModel)]="i.kitchenReciept" (ionChange)="toggleBluetoothKitchen($event)"></ion-toggle>
              </ion-item>
             
          </div> 
          </ion-col>
        </ion-row>
      </div> 
     
  </div>
 
  <div class="footer-btn">
    <ion-button (click)="redirectTo('/my-orders')">
                <span>Done</span>
                
    </ion-button>
    </div>
</ion-content>